bert-score>=0.3.5
editdistance
flair
filelock
language_tool_python
lemminflect
lru-dict
datasets>=2.4.0
nltk
numpy==1.22.3
pandas==1.5.2
scipy==1.7.3
transformers>=4.30.0
terminaltables
tqdm
word2number
num2words
more-itertools
pinyin>=0.4.0
jieba
OpenHowNet
